<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">Compartir EVENTO CREADO AL USUARIO</h1>
  
      <p class="mt-4 text-gray-500">
        LOS RANGERS TODA LA VIDAD
      </p>
    </div>
  
    <form action="#" class="mx-auto mb-0 mt-8 max-w-md space-y-4" (submit)="enviarDatos($event)">
    
        <div>
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario</label>
            <select required id="countries" name="id_usuario" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option selected value="">Seleccionar</option>
             @for (data of datos; track $index) {
                <option value="{{data.id_usuario}}"> {{data.usuario}} </option>
             }
            </select>
        </div>
  
      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
        >
          Compartir
        </button>
      </div>
    </form>
  </div>