<!-- Modal toggle -->
<button data-modal-target="static-modal" data-modal-toggle="static-modal"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button">
    Crear Evento
</button>

<!-- Main modal -->
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <form class="relative p-4 w-full max-w-8xl max-h-full" (submit)="enviarDatos($event)">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Crear Evento Matriz
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="static-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5  grid grid-cols-12 gap-2">

                <div class="col-span-4">
                    <label for="nombre_evento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Registrar Evento</label>
                    <input type="text" id="nombre_evento"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribe" required name="nombre_evento" />
                </div>
                <div class="col-span-4 ">
                    <label for="probabilidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Probabilidad</label> 
                    <select id="probabilidad" required name="probabilidad" (input)="agarrarValorProbabilidad($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected value="" disabled>Selecciona</option>
                        <option value="muy_alta">Muy Alta</option>
                        <option value="alta">Alta</option>
                        <option value="media">Media</option>
                        <option value="baja">Baja</option>
                        <option value="muy_baja">Muy Baja</option>
                    </select>
                </div>
                <div class="col-span-4">
                    <label for="impacto"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Impacto</label>
                    <select id="impacto" required name="impacto" (input)="agarrarValorImpacto($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected value="" disabled>Selecciona</option>
                        <option value="minima">Minima</option>
                        <option value="menor">Menor</option>
                        <option value="moderada">Moderada</option>
                        <option value="mayor">Mayor</option>
                        <option value="maxima">Maxima</option>
                    </select>
                </div>

                <div class="col-span-4 grid grid-cols-3 border-2 p-2">
                    <div class="col-span-3">
                        <h2 class="text-center font-bold">PROBABILIDAD</h2>
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="muy_alta" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Muy Alta</label>
                        <input type="text" id="muy_alta" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Muy Alta" name="muy_alta" required (input)="datosRecolectadoyResultados($event, 'muy_alta')"  oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="alta" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alta</label>
                        <input type="text" id="alta" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Alta" name="alta" required (input)="datosRecolectadoyResultados($event, 'alta')" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="media" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Media</label>
                        <input type="text" id="media" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Media" name="media" required (input)="datosRecolectadoyResultados($event, 'media')" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="baja" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Baja</label>
                        <input type="text" id="baja" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Baja" name="baja" required (input)="datosRecolectadoyResultados($event, 'baja')" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="muy_baja" class="block text-sm font-medium text-gray-900 dark:text-white">Muy Baja</label>
                        <input type="text" id="muy_baja" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Muy Baja" name="muy_baja" (input)="datosRecolectadoyResultados($event, 'muy_baja')" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    

                </div>
                <div class="col-span-4 grid grid-cols-3 border-2 p-2">
                    <div class="col-span-3">
                        <h2 class="text-center font-bold">IMPACTO</h2>
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="minima" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Minima</label>
                        <input type="text" id="minima" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Minima" name="minima"  (input)="datosRecolectadoyResultados($event, 'minima')"  required oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="menor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Menor</label>
                        <input type="text" id="menor" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Menor" name="menor" (input)="datosRecolectadoyResultados($event, 'menor')"  required oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="moderada" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Moderada</label>
                        <input type="text" id="moderada" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Moderada" name="moderada" required (input)="datosRecolectadoyResultados($event, 'moderada')" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="mayor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mayor</label>
                        <input type="text" id="mayor" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Mayor" name="mayor" required (input)="datosRecolectadoyResultados($event, 'mayor')" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="col-span-3 mb-2">
                        <label for="maxima" class="block text-sm font-medium text-gray-900 dark:text-white">Maxima</label>
                        <input type="text" id="maxima" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Muy Maxima" name="maxima" required (input)="datosRecolectadoyResultados($event, 'maxima')"  oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    

                </div>

                <div class="col-span-4 grid grid-cols-3 border-2 p-2">
                    <div class="col-span-4 px-2 max-lg:col-span-12 mt-10 max-lg:mt-0">

                        <div class="overflow-x-auto">
                            <table
                                class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 divide-y divide-gray-200 dark:divide-gray-700">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="pl-1">
                                            <!-- Espacio reservado -->
                                        </th>
                                        <th scope="col" class="pl-1">
                                            <!-- Espacio reservado -->
                                        </th>
                                        <th scope="col" class="pl-1 text-center">
                                            Rango
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="pl-1">
                                            COLOR
                                        </th>
                                        <th scope="col" class="pl-1">
                                            NIVEL DE RIESGO
                                        </th>
                                        <td scope="col" class="flex justify-between ">
                                            <div class="ml-4">
                                                DE
                                            </div>
                                            <div class="mr-8">
                                                A
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col" class="bg-green-500">
            
                                        </th>
                                        <th scope="col" class="pl-1">
                                            RIESGO ACEPTABLE
                                        </th>
                                        <td scope="col" class="flex justify-between ">
                                            <div>
                                                <input type="number" id="aceptable_de"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required
                                                    (input)="datosRecolectadosColores($event, 'aceptable_de')" />
                                            </div>
                                            <div>
                                                <input type="number" id="aceptable_a"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required
                                                    (input)="datosRecolectadosColores($event, 'aceptable_a')" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="bg-yellow-200">
            
                                        </th>
                                        <th scope="col" class="pl-1">
                                            RIESGO TOLERABLE
                                        </th>
                                        <td scope="col" class="flex justify-between ">
                                            <div>
                                                <input type="number" id="tolerable_de"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required
                                                    (input)="datosRecolectadosColores($event, 'tolerable_de')" />
                                            </div>
                                            <div>
                                                <input type="number" id="tolerable_a"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required
                                                    (input)="datosRecolectadosColores($event, 'tolerable_a')" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="bg-yellow-500">
            
                                        </th>
                                        <th scope="col" class="pl-1">
                                            RIESGO ALTO
                                        </th>
                                        <td scope="col" class="flex justify-between ">
                                            <div>
                                                <input type="number" id="alto_de"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required
                                                    (input)="datosRecolectadosColores($event, 'alto_de')" />
                                            </div>
                                            <div>
                                                <input type="number" id="alto_a"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required (input)="datosRecolectadosColores($event, 'alto_a')" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="bg-red-500">
            
                                        </th>
                                        <th scope="col" class="pl-1">
                                            RIESGO EXTREMO
                                        </th>
                                        <td scope="col" class="flex justify-between ">
                                            <div>
                                                <input type="number" id="extremo_de"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required
                                                    (input)="datosRecolectadosColores($event, 'extremo_de')" />
                                            </div>
                                            <div>
                                                <input type="number" id="extremo_a"
                                                    class="bg-gray-50 w-16 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="0" required
                                                    (input)="datosRecolectadosColores($event, 'extremo_a')" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
            
            
                    </div>

                </div>



            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button  type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Crear</button>
                <button #cerrarBoton data-modal-hide="static-modal" type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cerrar</button>
            </div>
        </div>
    </form>
</div>