<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-400">
        <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NOMBRE EVENTO
                </th>
                <th scope="col" class="px-6 py-3">
                    PROBABILIDAD
                </th>
                <th scope="col" class="px-6 py-3">
                    IMPACTO 
                </th>
                <th scope="col" class="px-6 py-3">
                    VALOR 
                </th>
                <th scope="col" class="px-6 py-3">
                    NIVEL DE RIESGO 
                </th>
                <th scope="col" class="px-6 py-3">
                    EMPRESA
                </th>
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @for (data of datos; track $index) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-3 font-bold"> {{data.nombre_evento}} </td>
                <td class="px-6 py-3 font-bold"> {{data.probabilidad}} </td>
                <td class="px-6 py-3 font-bold"> {{data.impacto}} </td>
                <td class="px-6 py-3 font-bold"> {{data.valor}} </td>
                <td class="px-6 py-4">
                    <div 
                      class="text-base font-semibold text-center text-white rounded-lg"
                      [ngClass]="{
                        'bg-green-600 ': data.nivel_riesgo === 'Riesgo Aceptable',
                        'bg-yellow-200  ': data.nivel_riesgo === 'Riesgo Tolerable',
                        'bg-yellow-600 ': data.nivel_riesgo === 'Riesgo Alto',
                        'bg-red-500 ': data.nivel_riesgo === 'Riesgo Extremo'
                      }"
                    >
                      {{data.nivel_riesgo}}
                    </div>
                  </td>
                <td class="px-6 py-3 font-bold"> {{data.usuario.sucursales.nombre_sucursal}} -{{data.usuario.sucursales.empresas.nombre_empresa}}  </td>

                <td class="px-6 py-3 font-bold"> 
                    <svg (click)="clickLugar(data)" class="w-6 h-6 cursor-pointer  text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
                      </svg>
                       </td>
            </tr>
            }
        </tbody>
    </table>
</div>
