<div class="mb-5">
  @if (perfil === "SUPERADMIN") {
    <app-posteventos [datosMatriz]="datos_matriz"
    (Completado)="recibirLaRepuestaDelPostHiJOParaActualizar($event)"></app-posteventos>
  }
</div>


<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-400">
        <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NOMBRE EVENTO
                </th>
                <th scope="col" class="px-6 py-3">
                    PROBABILIDAD
                </th>
                <th scope="col" class="px-6 py-3">
                    IMPACTO
                </th>
                <th scope="col" class="px-6 py-3">
                    VALOR
                </th>
                <th scope="col" class="px-6 py-3">
                    NIVEL DE RIESGO
                </th>
                <th scope="col" class="px-6 py-3">
                    MATRIZ
                </th>
                <th scope="col" class="px-6 py-3">
                    COMPARTIR
                </th>
            </tr>
        </thead>
        <tbody>
            @for (data of datos; track $index) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-3 font-bold"> {{data.nombre_evento}} </td>
                <td class="px-6 py-3 font-bold"> {{data.probabilidad}} </td>
                <td class="px-6 py-3 font-bold"> {{data.impacto}} </td>
                <td class="px-6 py-3 font-bold"> {{data.valor}} </td>
                <td class="px-6 py-4">
                    <div class="text-base font-semibold text-center text-white rounded-lg" [ngClass]="{
                        'bg-green-600 ': data.nivel_riesgo === 'Riesgo Aceptable',
                        'bg-yellow-200  ': data.nivel_riesgo === 'Riesgo Tolerable',
                        'bg-yellow-600 ': data.nivel_riesgo === 'Riesgo Alto',
                        'bg-red-500 ': data.nivel_riesgo === 'Riesgo Extremo'
                      }">
                        {{data.nivel_riesgo}}
                    </div>
                </td>


                <td class="px-6 py-3 font-bold">
                    <span (click)="clickVerMatriz(data)" class="text-blue-500 underline cursor-pointer">Ver
                        Matriz</span>
                </td>

                <td class="px-6 py-3 font-bold">
                   @if (perfil === 'ADMIN') {
                    <svg (click)="clickVerMatriz2(data)" class="w-6 h-6 cursor-pointer text-gray-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    viewBox="0 0 24 24">
                    <path
                        d="M17.5 3a3.5 3.5 0 0 0-3.456 4.06L8.143 9.704a3.5 3.5 0 1 0-.01 4.6l5.91 2.65a3.5 3.5 0 1 0 .863-1.805l-5.94-2.662a3.53 3.53 0 0 0 .002-.961l5.948-2.667A3.5 3.5 0 1 0 17.5 3Z" />
                </svg>
                   }

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>